@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap");

body {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 400;
}

body,
main,
article,
section {
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
  outline: none;
}
