@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap");

body {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 400;
}

button,
a {
  cursor: pointer;
}
